@use '../../assets/base.scss';

.whatsappButton {
  position: fixed;

  bottom: 0;
  right: 0;

  inline-size: 5rem;
  block-size: 5rem;

  display: none;
  align-items: center;
  justify-content: center;
  & i {
    scale: 3;
    color: hsla(160, 100%, 37%, 1);
  }
}

@media (width >= 48rem) {
  /* width >= 768px */
  .whatsappButton {
    display: flex;
  }
}
