@use '../../assets/base.scss';

@keyframes bannerMove {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.home {
  @extend .container;

  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  animation: bannerMove 300ms ease-in;
  & .banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2rem;

    & .logo {
      inline-size: 18rem;
      block-size: 18rem;
      margin: auto;

      background-image: url(./studioIntegrarLogo.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    & .intro {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
    }
  }

  & .operation {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
  }

  & .operation .infos {
    & p {
      margin-bottom: 1rem;
    }
  }

  & .buttons {
    inline-size: 100%;

    display: flex;
    flex-flow: column;
    gap: calc(1rem + 1.5vw);

    & a {
      border-radius: 6px;
      padding: 0.5rem;

      background-color: var(--color-secondary);
      inline-size: 100%;
      text-align: center;

      color: var(--color-heading);
      font-size: calc(1rem + 0.3vw);
    }
    & a:hover {
      background-color: var(--color-secondary-dark);
    }
  }
}

.location {
  inline-size: 100%;

  display: flex;
  flex-flow: column nowrap;

  & .infos {
    flex: 1 0 0;

    & p {
      color: var(--color-heading);
      font-size: calc(0.8rem + 0.3vw);
      margin-bottom: 1rem;
    }
  }

  /* & .maps {
    /* max-inline-size: 50%;
    flex: 1 0 0;
    /* block-size: 8%;
  } */
}

@media (width >= 48rem) {
  /* width >= 768px */
  .home {
    & .banner {
      margin-top: 0;

      & .intro {
        // & h1 {
        //   text-align: start;
        // }
      }
    }
    & .operation,
    .location {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1rem;
    }

    & .buttons {
      & a {
        font-size: calc(0.5rem + 1vw);
      }
    }
  }
}

@media (width >= 80rem) {
  /* width >= 1536px */
  .home {
    & .buttons {
      & a {
        font-size: calc(0.5rem + 1vw);
      }
    }
  }
}
