@use '../../assets/base.scss';

main.procedures {
  inline-size: 100%;
  padding-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;

  h1 {
    text-align: center;
  }
}

div.description {
  @extend .container;
  padding: 0 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.categoriesList {
  inline-size: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.categorieCard {
  padding: 1rem;
  section {
    @extend .container;
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
}
.categorieCard:nth-child(odd) {
  background-color: var(--color-background);
}
.categorieCard:nth-child(even) {
  background-color: var(--color-background-soft);
}

.categorieInfo {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  p {
    font-size: calc(0.9rem + 0.3vw);
  }

  h3 {
    margin-bottom: 0.5rem;
  }
}

.procedureList {
  margin-left: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.procedure {
  border-bottom: solid 1px var(--color-background-soft);
  padding-bottom: 1rem;
  p {
    padding-left: 1rem;
  }
}
.procedure:nth-last-child(1) {
  border-bottom: none;
  padding-bottom: 0;
}

.benefitsList {
  margin-top: 0.8rem;
  margin-left: 1rem;
  p {
    padding-left: 1rem;
  }
}
.indicationsList {
  margin-top: 0.8rem;
  margin-left: 1rem;
  p {
    padding-left: 1rem;
  }
}

.categorieImg {
  inline-size: 100%;
  block-size: 20rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (width >= 48rem) {
  /* width >= 768px */
  .categorieCard {
    padding: 2rem;
    section {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
  .categorieCard:nth-child(even) {
    background-color: var(--color-background-soft);
    section {
      flex-flow: row-reverse nowrap;
    }
  }
}
