@use '../../assets/base.scss';

header {
  position: sticky;
  top: -1px;
  inline-size: 100%;
  block-size: 6rem;
  border-bottom: solid 1px var(--color-background-mute);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-mute);
  z-index: 1000;
}
.logo {
  --logo-size: 13rem;
  inline-size: var(--logo-size);
  block-size: calc(var(--logo-size) * 0.36);

  background-image: url(../../assets/img/studioIntegrarLogo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 300ms;
}
.logo:hover {
  scale: 1.1;
}

nav.container {
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.mobileMenuIcon {
  display: block;
  color: var(--color-heading);
  cursor: pointer;

  & label {
    cursor: pointer;
    & div {
      margin: 0.3rem 0;
      inline-size: 2rem;
      block-size: 0.3rem;
      background-color: var(--color-heading);
      transition: all 200ms;
    }
  }
  &:hover {
    color: var(--color-accent);
  }
  & input {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  right: 0;
  top: calc(6rem - 2px);
  inline-size: 65vw;
  block-size: calc(100vh - 6rem + 3px);
  background-color: var(--color-background-mute);
  // box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);

  /* border-start-start-radius: 18px;
  border-start-end-radius: 18px; */

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;

  padding: 1rem;
  z-index: 1000;

  transform: translateX(100%);
  transition: transform 200ms ease-in-out;
  transition: box-shadow 300ms forwards;

  & li {
    & a {
      inline-size: 100%;
      border-bottom: solid 1px var(--color-border);
      padding: 0.5rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1rem;
      font-size: calc(1.2rem + 0.3vw);
      color: var(--color-heading);
    }

    & a:hover {
      color: var(--color-accent);
    }
    &:last-child {
      flex: 1 0 0;
      display: flex;
      align-items: flex-end;
    }
  }
}

#mobileMenuIcon:checked ~ .firstBar {
  transform: rotate(45deg) translate(7px, 6px);
}
#mobileMenuIcon:checked ~ .secondBar {
  opacity: 0;
}
#mobileMenuIcon:checked ~ .thirdBar {
  transform: rotate(-45deg) translate(7px, -7px);
}
#mobileMenuIcon:checked ~ ul.mobileMenu {
  transform: translateX(0%);
  // box-shadow: -300px 1px 0px rgba(0, 0, 0, 0.5);
}

.desktopMenu {
  display: none;
  flex-flow: row nowrap;

  & li {
    & a {
      border-right: solid 1px var(--color-border);
      padding: 0 1rem;

      /* font-size: 1.3rem; */
      font-size: calc(1rem + 0.3vw);
      color: var(--color-heading);
    }

    & a:hover {
      color: var(--color-primary);
    }
  }
  & li:last-child {
    & a {
      border-right: none;
    }
  }
}

@media (width >= 48rem) {
  /* width >= 768px */
  .mobileMenuIcon,
  .mobileMenu {
    display: none;
  }
  .desktopMenu {
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    background-image: url(../../assets/img/studioIntegrarLogoDark.png);
  }
}
