@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-primary: rgb(236, 150, 181);
  --color-primary-dark: rgb(139, 96, 104);
  --color-secondary: rgb(255, 38, 61);
  --color-secondary-dark: rgb(153, 22, 36);

  --color-linkedin: rgb(10, 102, 194);
  --color-linkedin-hover: rgb(7, 75, 143);
  --color-whatsapp: rgb(23, 139, 71);
  --color-whatsapp-hover: rgb(14, 87, 44);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --font-great-vibes: normal 400 3.2rem 'Great Vibes', cursive;

  --color-border: var(--vt-c-black-mute);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black-mute);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --color-border: var(--vt-c-white-mute);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // line-height: 1.2;
  text-align: center;
}

h1 {
  color: var(--color-primary);
  font-size: calc(1.8rem + 0.3vw);
  // text-align: center;
  /* font: var(--font-great-vibes); */
}
h2 {
  color: var(--color-primary);
  font-size: calc(1.5rem + 0.3vw);
  // text-align: start;
  margin-bottom: 1rem;
}
h3 {
  color: var(--color-primary);
  font-size: calc(1.2rem + 0.3vw);
  text-align: start;
  margin-bottom: 1rem;
}

p {
  color: var(--color-heading);
  font-size: calc(1rem + 0.3vw);
}

@media (width >= 48rem) {
  /* width >= 768px */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // line-height: 1.2;
    text-align: start;
  }
}
