@import url(base.css);

@keyframes bannerMove {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.home {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & .banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2rem;
    animation: bannerMove 300ms ease-in;

    & .logo {
      inline-size: 18rem;
      block-size: 18rem;
      margin: auto;

      background-image: url(./studioIntegrarLogo.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    & .intro {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;

      & h1 {
        font-size: calc(1.8rem + 0.3vw);
        text-align: center;
        /* font: var(--font-great-vibes); */
      }
      & p {
        font-size: calc(1rem + 0.3vw);
      }
    }
  }

  .buttons {
    inline-size: 100%;

    display: flex;
    flex-flow: column;
    gap: calc(1rem + 1.5vw);

    & a {
      border-radius: 6px;
      padding: 0.5rem;

      background-color: var(--color-accent);
      inline-size: 100%;
      text-align: center;

      color: var(--color-heading);
      font-size: calc(1rem + 0.3vw);
    }
  }
}

@media (width >= 48rem) {
  /* width >= 768px */
  .home {
    & .banner {
      margin-top: 0;

      & .intro {
        text-align: start;
      }
    }
    & .buttons {
      & a {
        font-size: calc(0.7rem + 1vw);
      }
    }
  }
}

@media (width >= 80rem) {
  /* width >= 1536px */
  .home {
    & .buttons {
      & a {
        font-size: calc(0.7rem + 1vw);
      }
    }
  }
}
