@import './base.css';

.container {
  inline-size: 100%;
  max-inline-size: 20rem;
  margin: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
