@import url(base.css);

.container {
  inline-size: 100%;
  max-inline-size: 40rem;
  margin: auto;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (width >= 48rem) {
  /* width >= 768px */
  .container {
    /* inline-size: 100%; */
    max-inline-size: 64rem;
    margin: auto;
  }
}

@media (width >= 64rem) {
  /* width >= 1024px */
  .container {
    /* inline-size: 100%; */
    max-inline-size: 80rem;
    margin: auto;
  }
}

@media (width >= 80rem) {
  /* width >= 1536px */
  .container {
    /* inline-size: 100%; */
    max-inline-size: 96rem;
    margin: auto;
  }
}
