@use '../../assets/base.scss';

main.about {
  @extend .container;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.contact {
  inline-size: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.personalImage {
  inline-size: 18rem;
  block-size: 18rem;
  margin: auto;

  background-image: url(/AndreiaProfilePhoto.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.linkedin {
  --padding: 0.75rem;
  inline-size: 100%;

  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: var(--padding);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding);

  background-color: var(--color-linkedin);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-heading) !important;
  text-decoration: none;
  text-align: start;

  cursor: pointer;

  transition: all 300ms;
  & span {
    flex: 1 0 0;
  }
  &:hover {
    background-color: var(--color-linkedin-hover);
  }
}

@media (width >= 48rem) {
  /* width >= 768px */
  .grid {
    display: flex;
    flex-flow: row nowrap;
  }

  .contact {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
